.Account {
    overflow-y: scroll;
}

svg {
    color: var(--white);
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar svg {
    height: 28px;
    width: 28px;
}

.account-info {
    text-align: center;
}

.account-info svg {
    height: 85px;
    width: 85px;
    stroke-width: .35;
    margin-top: 25px;
}

.roasts {
    margin-top: 50px;
}