.Card {
    background-color: var(--orange);
    border-radius: 10px;
    padding: 25px 17px;
    margin: 18px auto;
    max-width: clamp(390px, 400px, 700px);
}

.collapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 34.5px;
}

.expanded-card-container {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0px 25px;
    background-color: #202020;
    opacity: 1;
    transition: opacity .5s ease-in;
}

.expanded {
    margin-top: 88px;
    height: fit-content;
}

.roast-details h3 {
    margin: 0 0 3px 0;
    font-size: 14.4px;
}

.roast-details p {
    margin: 0;
    font-size: 11.52px;
}

.favorite-container {
    max-height: 20px;
}

.favorite-container svg {
    max-width: 20px;
    max-height: 20px;
    scale: 1;
}

.favorite-container svg:active {
    scale: 1.1;
}