.Card {
    background-color: var(--orange);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 17px;
    margin: 18px 0;
    max-height: 34.5px;
}

.roast-details h3 {
    margin: 0 0 3px 0;
    font-size: 14.4px;
}

.roast-details p {
    margin: 0;
    font-size: 11.52px;
}

.favorite-container {
    max-height: 20px;
}

.favorite-container svg {
    max-width: 20px;
    max-height: 20px;
    scale: 1;
}

.favorite-container svg:active {
    scale: 1.1;
}