nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: clamp(390px, 400px, 700px);
    height: 10vh;
    background-color: var(--black);
    margin-top: 18px;
}

nav a {
    color: var(--white);
}

nav a:active {
    color: var(--orange);
}